
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--css file-->
    <link href="~/css/aboutStyle.css" rel="stylesheet" />
    <title>Our-Story</title>
</head>
<body>
    <div>
        <h1>About us</h1><br>
    </div>
    <div class="about-us">
        
        <p>
            <strong>
                Cyber Cinema is israel's most advanced cinema chain offering an experience of quality and innovation.
            </strong><br><br><br>
            The chain's cinemas are characterized by an exceptional viewing experience, ranging from huge screens, advanced sound systems, large spaces between the lines and maximum comfort of seating, all this alongside the most advanced ticket purchase services in the world and maximum access for the disabled.<br><br>
            The chain is owned by arie and victor  - AKA -  <strong>awesome software engineers.</strong>
        </p>
    </div>
</body>
</html>
