
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/css/editStyle.css" rel="stylesheet" />
    <title>Edit</title>
</head>
<body>
    <div class="w3ls-bot">
        <div class="switch-agileits">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
                Swip right to save left to delete 
            </label>
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
