body {
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background: url(../image/Cinema-popcorn-1.png)no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.Title {
    font-size: 40px;
    color: wheat;
}
.box1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.box4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    top: -250px;
    left: 0;
    padding: 20px 40px;
    border-radius: 100px;
    display: inline-block;
    transition: all .5s;
}

.btn-white {
    background: #CF3230;
    color: #fff;
    font-size: 30px;
}

.btn:hover {
    box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    transform: translateY(-3px);
}

.btn:active {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2) transform:translateY(-1px);
}

.btn-bottom-animation-1 {
    animation: comeFromBottom 1s ease-out .8s;
}

.btn::after {
    content: "";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 100px;
    display: inline-block;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
